<div class="media">
  <div class="media-body">
    <% top_topics = order_topics %>
    <ul class="list-unstyled">
      <% top_topics.each do |topic| %>
        <li><%= link_to topic.name, topic_path(topic), :class => 'trending-topics' %></li>
      <% end %>
    </ul>
  </div>
</div>
