<div class="media">
  <div class="media-body">
    <% top_topics = order_topics %>
      <% top_topics.each do |topic| %>
        <div class="p-3">
          <h4 class="media-heading"><%= link_to topic.name, topic_path(topic) %></h4>
        </div>
      <% end %>
  </div>
</div>
