<div>
  <div>
    <h1>What is TravelBucket?</h1>
    <p>TravelBucket is the place to share everything and anything travel.</p>
  </div>
  <div class="media">
    <img src="/assets/architecture-building-city-243076.jpg" class="mr-3" alt="Travel About Image"/>
    <div class="media-body mt-3">
      <h5>Explore</h5>
      Share your stories with friends and discover new places for your next adventure.
    </div>
  </div>
  <div class="media">
    <div class="media-body mt-3">
      <h5 class="mr-3">Be Spellbound</h5>
      Let your imagination run wild learning about some of the most beautiful places on this planet.
    </div>
    <img src="/assets/arctic-aurora-aurora-borealis-258112.jpg" alt="Travel About Image 2"/>
  </div>
  <div class="media">
    <img src="/assets/camper-campervan-car-24698.jpg" class="mr-3" alt="Travel About Image 3"/>
    <div class="media-body mt-3">
      <h5>Liberate</h5>
      By car, train, boat or plane, find the freedom to explore. And don't forget to share here on TravelBucket!
    </div>
  </div>
</div>
