<div class="container">
  <div class="text-center m-5">
    <h1>What is TravelBucket?</h1>
    <p>TravelBucket is the place to share everything and anything travel.</p>
  </div>
  <div class="row m-4">
    <%= image_tag("architecture-building-city-243076.jpg", class: 'img-fluid mr-3', alt: "Travel About Image 1") %>
    <div class="media-body mt-3">
      <h5>Explore</h5>
      <p>Share your stories with friends and discover new places for your next adventure.</p>
    </div>
  </div>
  <div class="row m-4">
    <div class="media-body mt-3">
      <h5 class="mr-3">Be Spellbound</h5>
      <p>Let your imagination run wild learning about some of the most beautiful places on this planet.</p>
    </div>
    <%= image_tag("arctic-aurora-aurora-borealis-258112.jpg", class: 'img-fluid', alt: "Travel About Image 2") %>
  </div>
  <div class="row m-4">
    <%= image_tag("camper-campervan-car-24698.jpg", class: 'img-fluid mr-3', alt: "Travel About Image 3") %>
    <div class="media-body mt-3">
      <h5>Liberate</h5>
      <p>By car, train, boat or plane, find the freedom to explore. And don't forget to share here on TravelBucket!</p>
    </div>
  </div>
</div>
