@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');

$theme-colors: (
  "primary": #ec596f,
  "secondary": #CACACA,
  "success": #25ec89,
  "info": #0DE2EA,
  "warning": rgb(230, 234, 13),
  "danger": rgb(182, 25, 25),
  "light": #ececec,
  "dark": #222222
);

$navbar-brand-font-size: 2.5rem;

$link-color: #ec9759;

body {
  position: relative;
  min-height: 100vh;
}

footer {
  padding: 3rem;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: salmon;
}

.link-color {
  color:#000;
  font-size: 20px;
}

.link-color:hover {
  color:hsl(175, 72%, 49%);
}

.trending-topics {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.recent-posts {
  box-shadow: 0px 0px 5px rgb(192, 189, 189);
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.section {
  padding: 5rem;
}

.btn-background {
  border-radius: 50px;
  background-color:hsl(175, 72%, 49%)
}

.btn-background a:hover {
  color: white;
}

.logo {
  font-family:'Noto Serif', serif;
  color: salmon;
}

.hero-section {
  position: relative;
}

.hero-image {
  position: relative;
}

.hero-text {
  position: absolute;
  top: 20%;
  left: 40%;
  text-align: center;
  transform: translate(-50px, 10px);
  width: 30rem;
}

.hero-text h3 {
  color: #fef9fa;
  text-shadow: 0px 0px 2px;
}

.post-image {
  width: 75%;
}

.topic-post-image {
  width: 50%;
}

@media (max-width: 991px) {
  .row-text-2 {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .img-item {
    width: 50%;
  }

  .row-text-2 {
    padding-left: 12rem;
  }
}

@import "bootstrap";
@import "bootstrap-grid";
@import "font-awesome-sprockets";
@import "font-awesome";