// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  margin: 10px;
}

.container-hero {
  color: white;
}

.centered {
  position: absolute;
  top: 30%;
  left: 30%;
}
