<% if current_user %>
  <div class="vote-arrows float-left mr-3">
    <div><%= link_to (icon('fas', 'angle-up')), post_up_vote_path(post), method: :post %></div>
    <div><strong><%= post.points %></strong></div>
    <div><%= link_to (icon('fas', 'angle-down')), post_down_vote_path(post), method: :post %></div>
  </div>
<% end %>
